:root {
    --prim: #e17487;
    --sec: #26292e;
    --grad: radial-gradient(
        at top center,
        #e17487,
        #ec8da1
    );
    --mainMid: #f4f4f6;
    --fig1: #f4f4f6;
    --fig2: #444444;
    --btn: #4a4a4a;
    --font1: "Playwrite CU", cursive;
}

* {box-sizing: border-box;}

/* tag names */

header {
    background-color: var(--sec);
}

/* classes */

.button-section {
    display: flex;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    border: 1px solid orange;
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    color: var(--sec);
    stroke: currentColor;
    fill: currentColor;
}

.icons {
    background-color: #fff;
    border-radius: 50%;
}

.socials {
    text-align: right;
    display: inline;
    margin: 40px auto;
    list-style-type: none;
}

.top-text {
    font-family: sans-serif;
    color: white;
    border: 1px solid orange;
}

.header {
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    color: #ddd;
    padding-left: 100px;
    border: 1px solid orange;
}

/* ids */


#clients {
    position: flex;
}

#dlBtn {
    text-decoration: none;
    padding: 10px 12px;
    font-family: sans-serif;
    font-weight: 450;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid orange;
    background: var(--btn);
    width: 10%;
    text-align: center;
}

#headerRow {
    display: flex;
    justify-content: space-between;
}

#mainBottom {
    font-family: sans-serif;
    width: calc((100% / 3) * 2);
    border: 1px solid orange;
}

#mainMid {
    background-color: var(--mainMid);
    font-family: sans-serif;
}

#mainImg {
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
}

#mainTop {
    background-color: var(--prim);
    background-image: var(--grad);
    padding-left: 60px;
}

#mtText1, #mtText2 {
    width: 35%;
}

#moreBtn {
    text-decoration: none;
    padding: 10px 12px;
    font-family: sans-serif;
    font-weight: 450;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid orange;
    width: 10%;
    text-align: center;
    background-color: var(--btn);
}

#moreBtn a, #dlBtn a {
    text-decoration: none;
}